<h1> Yandex Dictionary</h1>

<p>
	Hello, <%= current_user.username %>.
	<a href="logout" data-method="delete" rel="nofollow">Logout</a>
</p>

<form accept-charset="UTF-8" action="/lookup" method="post">
	<input name="authenticity_token" type="hidden" value="228papirosim">
  <label for="lang">Lang:</label>
	<p>
		<select name="lang">
			<option selected="selected">en-ru</option>
			<% @langs.map do |lang| %>
				<option><%= lang %></option>
			<% end %>
		</select>
	</p>

  <label for="text">Text:</label>
  <p><textarea rows="3" cols="45" name="text"></textarea></p>

  <input name="commit" type="submit" value="Search" />
</form>
</br>

<p>Last 10 requests:</p>
<% @last.reverse_each do |request| %>
	<%= request.lang %>  <%= request.text %><br/>
<% end %>


</br><a href="/journal/index">Journal</a></br></br>

<center>
	Реализовано с помощью сервиса <a href="http://api.yandex.ru/dictionary/">«Яндекс.Словарь»</a>
<center>