<h1> Yandex Dictionary</h1>

<form accept-charset="UTF-8" action="/lookup" method="get">
  <label for="lang">Lang:</label>
  <input id="lang" name="lang" type="text" /></br>
  <label for="text">Text:</label>
  <input id="text" name="text" type="text" /></br>
  <input name="commit" type="submit" value="Search" />
</form>

</br><a href="/get_langs">List of translate directions</a></br></br>

Реализовано с помощью сервиса <a href="http://api.yandex.ru/dictionary/">«Яндекс.Словарь»</a>